@font-face {
    font-family: 'Arcade';
    src: local('Arcade'), url(Arcade.ttf) format('truetype');
    unicode-range: U+0030—003A;
}
* {
    box-sizing: border-box;
    margin: 0;
    font: inherit;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Arcade', sans-serif;
    background: black;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
canvas {
    background-size: cover;
    display: none;
}
html,
body {
    height: 100%;
}
body {
    color: white;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body,
#menu,
nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
a:hover {
    border-bottom-color: white;
}
.bg {
    position: fixed;
    top: 0;
    z-index: -1000;
    width: 200vw;
    height: 100vh;
}
@keyframes pan {
    0% {
        left: 0;
        right: -100vw;
    }
    100% {
        right: 0;
        left: -100vw;
    }
}
.bg:first-child {
    background: url(images/bg-1.png);
    animation: 40s pan infinite linear;
}
.bg:nth-child(2) {
    background: url(images/bg-2.png);
    animation: 60s pan infinite linear;
}
.bg:nth-child(3) {
    background: url(images/bg-3.png);
    animation: 80s pan infinite linear;
}
h1 {
    text-align: center;
    font-weight: 100;
    font-size: 8em;
    margin-left: 10px;
}
button {
    display: block;
    border: 0;
    background: #333;
    color: white;
    margin: 5px;
    padding: 10px 0;
    font-size: 2rem;
    cursor: pointer;
    width: 400px;
    height: 58px;
    border-left: solid 0 #e46b08;
    border-right: solid 0 transparent;
}
button:hover {
    border-left-width: 5px;
    border-right-width: 5px;
}
.bolide {
    background: url(images/bolide.png);
    background-size: cover;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    height: 770px;
    width: 310px;
    position: absolute;
    transform: rotate(90deg);
    top: 35px;
    z-index: -10;
    animation: bolide 30s infinite linear;
}
@keyframes bolide {
    0% {
        right: 100vw;
    }
    100% {
        right: -150vw;
    }
}
#instructions,
#credits,
#shop,
#login {
    display: none;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.4);
    padding: 50px 100px;
    cursor: pointer;
}
#login {
    cursor: default;
}
form {
    padding: 50px;
    width: 100%;
}
input {
    display: inline-block;
    color: white;
    transition: 0.2s all;
}
input[type='text'] {
    display: block;
    background: transparent;
    border: 1px solid transparent;
    font-size: 1em;
    width: 50%;
    float: left;
}
input:focus {
    outline: none;
    border-bottom-color: white;
}
input[type='submit'] {
    display: block;
    color: white;
    background-color: transparent;
    border: 0;
    float: right;
}
input[type='submit']:focus {
    background-color: rgba(30, 30, 30, 0.8);
}